.SideMenu {
  height: 90vh;
  width: 30vw;
  margin: 30px;
  padding: 30px;
  background-color: rgb(96,125,139);
  color:white
}

.SideMenu-header{
  display: flex;
  justify-content: space-between;

}
